.primitiveBtnClose{
    padding: 5px;
    background: #f86e6e;
    border: none;
    border-radius: 10px;
    color: white;
}

.primitiveBtnOpen{
    padding: 5px;
    background: #6ef879;
    border: none;
    border-radius: 10px;
    color: white;
}

.divWrapperBtn{
    display: flex;
    gap: 10px;
}

.divMainWrapper{
    display: flex;
    gap: 20px;
    padding: 10px 5px;
}

.filterBtn{
    padding: 3px 10px;
    background: #b9e7ff;
    border: none;
    border-radius: 5px;
    color: white;
}