

.divWrapper {
    display: flex;
    gap: 5px;
    align-items: end;
}

.divWrapperRevert {
    flex-direction: row-reverse;
}

.divCommonWrapper {
    display: flex;
    align-items: end;
}

.revertConteiner {
    flex-direction: row-reverse;
}

.divContsinerTraingle {
    width: 0;
    height: 0;
    border-bottom: 10px solid #082103;
    border-left: 10px solid transparent;
    border-right: none;
}

.divContsinerTraingleRever {
    border-left: none;
    border-right: 10px solid transparent;
}

.mainWrapper {
    padding: 10px;
    background: #082103;
    width: 200px;
    color: #9EAF9C;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    justify-content: space-between;
    border-radius: 10px 10px 10px 0;
    gap: 8px;
}

.mainWrapperRevert {
    border-radius: 10px 10px 0 10px;
}

.imgSize {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
    word-break: break-all;
}

.nameSize {
    color: #A397C6;
    word-break: break-all;
}

.timeSize {
    color: #324B2D;
}





