* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.size {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work1 {
    background: #B5E61B;
    padding: 10px;
}


